[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "saeHB.Spatial.Beta"]
	path = saeHB.Spatial.Beta
	url = https://github.com/bobyiwan/saehb.spatial.beta
